body {
   font-family: sans-serif;
   font-size: 1.5em;
   line-height: 1.5;
   padding: 30px;
}
h1 {
   text-align: center;
   color: rgb(233, 52, 52);
}
p {
   text-align: justify;
}
h1 + p::first-letter {
   font-size: 2em;
   color: red;
}
a {
   text-decoration: none;
}
a:link,
a:visited {
   color: blue;
}
a:active,
a:hover {
   color: red;
}
